.btn {
  padding: 10px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  color: white;
}
.btn-start {
  background: green;
}
.btn-stop {
  background: red;
}
.btn-restart {
  background: blue;
  display: none;
}