$start: rgb(5, 226, 35);
$pause: red;
$restart: blue;
$revive: rgb(221, 32, 221);
$bg-color: #f1f1f1;
$main-font: 'Courier New', Courier, monospace;
$main-text-size: 1.1rem;

@mixin font($family, $weight, $size) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
}

body {
  @include font($main-font, 400, 1.5rem);
  background: $bg-color;
}

h1, p {
  margin: 5px 0;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 4px black solid;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

%btn {
  @include font($main-font, 700, $main-text-size);
  padding: 10px 50px;
  border-radius: 40px;
  color: $bg-color;
  outline: none;
  cursor: pointer;
  transition-property: all;
  transition: 0.4s;
  letter-spacing: 2px;
  line-height: $main-text-size;
}

@mixin btn-hover($bg, $flex-basis: 25%) {
  @extend %btn;
  flex: 0 1 $flex-basis;
  background: $bg;
  &:hover {
    background: darken($bg, 15%);
  }
}

.btn-start {
  @include btn-hover($start);
}
.btn-pause {
  @include btn-hover($pause);
}
.btn-restart {
  @include btn-hover($restart);
}
.btn-revive {
  @include btn-hover($revive, 35%);
  display: none;
  animation-name: revive 1s infinite;
  margin: 20px 0 0 0;
  transform: scale(1.2);

  @keyframes revive {
    0% { opacity: 1; box-shadow: 0 0 3px $revive;}
    50% { opacity: 0.5; box-shadow: 0 0 30px $revive;}
    100% { opacity: 1; box-shadow: 0 0 3px $revive;}
  }
}
