$start: green;
$pause: red;
$restart: blue;
$revive: rgb(221, 32, 221);

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  background: #eee;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.btn {
  padding: 10px 50px;
  border-radius: 40px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  transition-property: all;
  transition: 0.4s;
  letter-spacing: 2px;
  line-height: 20px;
}

.btn-start {
  flex: 0 1 25%;
  background: $start;
  &:hover {
    background: white;
    color: $start;
  }
}
.btn-pause {
  flex: 0 1 25%;
  background: $pause;
  &:hover {
    background: white;
    color: $pause;
  }
}
.btn-restart {
  flex: 0 1 25%;
  background: $restart;
  &:hover {
    background: white;
    color: $restart;
  }
  
}

.btn-revive {
  flex: 0 1 35%;
  background: $revive;
  display: none;
  animation-name: revive;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin: 20px 0 0 0;
  transform: scale(1.2);
  &:hover {
    background: white;
    color: $revive;
  }
  @keyframes revive {
    0% { opacity: 1; box-shadow: 0 0 3px $revive;}
    50% { opacity: 0.5; box-shadow: 0 0 30px $revive;}
    100% { opacity: 1; box-shadow: 0 0 3px $revive;}
  }
}
